@model WebStore.Domain.ViewModels.CartOrderViewModel
@{
    ViewBag.Title = "Cart";
}
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">Item</td>
                    <td class="description"></td>
                    <td class="price">Price</td>
                    <td class="quantity">Quantity</td>
                    <td class="total">Total</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                @foreach (var (product, quantity) in Model.CartViewModel.Items)
                {
                    <tr>
                        <td class="cart_product">
                            <a href="">
                                <img src="~/images/shop/@product.ImageUrl" alt="">
                            </a>
                        </td>
                        <td class="cart_description">
                            <h4>
                                <a href="">@product.Name</a>
                            </h4>
                            <p>Web ID: @product.Id</p>
                        </td>
                        <td class="cart_price">
                            <p>@product.Price.ToString("C")</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" asp-action="Add" asp-route-id="@product.Id"> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="@quantity" autocomplete="off" size="2">
                                <a class="cart_quantity_down" asp-action="Decrement" asp-route-id="@product.Id"> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">@(product.Price * quantity)</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" asp-action="Remove" asp-route-id="@product.Id">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>What would you like to do next?</h3>
            <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
        </div>
        <partial name="Partial/_Checkout" model="Model.OrderViewModel"
                 view-data="@(new ViewDataDictionary(ViewData) { { "TotalPrice", Model.CartViewModel.TotalPrice } })"/>
    </div>
</section><!--/#do_action-->