@model WebStore.Models.Employee
<!DOCTYPE html>
<html>
<head>
<title>Employee Information Card</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Фамлия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Возраст</th>
        <th>Зарплата</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.SecondName</td>
        <td>@Model.FirstName</td>
        <td>@Model.Patronymic</td>
        <td>@Model.Age</td>
        <td>@Model.Income</td>
    </tr>
    </tbody>
</table>
@Html.ActionLink("К списку сотрудников", "Employees")
<a href="/"> На главную</a>
</body>

</html>