@model ProductViewModel
@{
    ViewBag.Title = "Product Add Form";
    Layout = "_Layout";
}
<form asp-controller="Products" asp-action="Add" asp-route-id="@Model.Id">
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(p => p.Name)</th>
            <th>@Html.DisplayNameFor(p => p.Brand)</th>
            <th>@Html.DisplayNameFor(p => p.Section)</th>
            <th>@Html.DisplayNameFor(p => p.ImageUrl)</th>
            <th>@Html.DisplayNameFor(p => p.Price)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input type="text" asp-for="Name" class="table"></input>
                <span asp-validation-for="Name" class="text-danger"></span>
            </td>
            <td>
                <input type="text" asp-for="Brand" class="table"></input>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </td>
            <td>
                <input type="text" asp-for="Section" class="table"></input>
                <span asp-validation-for="Section" class="text-danger"></span>
            </td>
            <td>
                <input type="text" asp-for="ImageUrl" class="table"></input>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </td>
            <td>
                <input type="number" asp-for="Price" class="table"></input>
                <span asp-validation-for="Price" class="text-danger"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default"/>
    </div>
    <a asp-controller="Products" asp-action="Index">Back to Products</a>
</form>